/*header*/


.main {
	background-color: rgba(163, 150, 95, .5);
	background: url(images/bg5.jpg) center center;
	background-size: cover;
	padding-bottom: 275px;
	border-bottom: 35px solid black;
	margin-top: -30px;
	height: 750px;
}

.header {
	position: relative;
	top: 25px;
	z-index: 1;
	display: inline;
	background-color: transparent;
}

.head-title {
	position: relative;
	top: 150px;
}

.home {
	border: none;
	background: rgba(163, 150, 95, 0);
	font-size: 20px;
	font-family: 'Abril Fatface', cursive;
	text-shadow: 1px 1px black;
	color: #D4BA8C;
	position: fixed;
	top: 7px;
	left: 7px;
	border-radius: 50%;
	padding: 7px;
	border: 1px solid #D4BA8C;
}

.home:hover {
	color: rgba(2, 60, 158, .7);
	text-decoration: none;
	border: 1px solid rgba(2, 60, 158, .7);
}

ul {
	list-style-type: none;
	margin-left: -25px;
}

li {
	display: inline-block;
	padding: 5px 20px 5px 20px;
	text-shadow: 2px 2px 2px white;
	margin: auto 5px auto 5px;
	margin-bottom: 100px;
}

li a {
	color: rgba(2, 60, 158, .7);
	font-weight: 700;
}

li a:hover {
	text-decoration: none;
}

.navi a:hover {
	color: #D4BA8C;
	text-align: right;
	text-shadow: 4px 4px 4px white;
}

.company {
	position: relative;
	top: -60px;
	margin: 0 auto 10px auto;
	font-family: 'Abril Fatface', cursive;
	font-size: 96px;
	text-align: center;
}

span {
	text-decoration: underline;
}

.motto {
	font-family: 'Bad Script', cursive;
	text-transform: uppercase;
	font-size: 25px;
	margin-left: 27px;
	text-align: center;
	font-weight: 700;
}

/*About*/

.about {
	text-align: center;
	border-bottom: 35px solid black;
	padding: 20px 0 40px 0;
	background: url("images/bg6.jpg") no-repeat center center fixed;
	background-size: cover;
}

.container {
	width: 950px;
}

.about div {
	font-size: 24px;
	font-family: 'Bad Script', cursive;
	margin: 20px auto;
	color: white;
}

.about img {
	height: 150px;
	width: 150px;
	margin: 35px auto;
}

.about h2 {
	margin: 70px auto;
	font-weight: 700;
}

/* Description in About Us... Learn JS and Make it appear when click*/

/* END OF ABOUT US*/
/* OUR WORK */

.work {
	background-color: #D1D1D1; /* find new color check trans textures - simple pattern */
	border-bottom: 35px solid black;
	padding: 20px 0 40px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper {
	width: 850px;
	display: flex;
	flex-direction: row;
}

.work h2 {
	margin: 50px auto 20px;
	font-family: 'Bad Script', cursive;
	text-align: center;
	font-weight: 700;
}

.center {
	text-align: center;
}

.left, .right {
	text-align: justify;
	width: 250px;
}

.center-photo {
	border: 1px solid white;
	margin: 5px 7px;
	height: 250px;
	width: 225px;
	background-size: auto;
	transform: rotate(90deg);
}

/*.work img {
	height: 250px;
	width: 250px;
	transform: rotate(90deg);
	display: inline-block;
	padding: 5px;
	box-shadow: 2px 2px 4px 4px black;
	border-radius: 50%;
}*/

.thumbnails {
	margin: 20px 0 20px 0;
	text-align: center;
}

/*QUOTE*/
.request-quote {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.request-quote h2 {
	text-align: center;
}

.kla-link {

}

.KLA {
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-weight: 600;
  font-size: 24px;
  width: 45%;
  height: 7%;
  margin: 5px 0 5px 0;
  text-decoration: none;
  color: #393C3E;
  text-transform: uppercase;
  padding: 7px 0 0 0;
}

.KLA:hover {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  color: #64686B;
  border-radius: 50%;
  transition: color 2s linear .5s, border-radius 2s linear .5s;
	text-decoration: none;
}

.KLA:active {
  color: white;
}
